.account {
    padding: 40px;
    min-height: 100vh;
    width: 100%;

    background-color: var(--background);
    color: var(--grey-text);

    display: flex;
    justify-content: center;
}

.accountMain {
    max-width: 800px;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.accountHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accountLink {
    text-decoration: none;
    color: var(--grey-text);
}

.accountLink:hover {
    text-decoration: underline;
}

.accountInfo {
    padding: 40px;
    background-color: black;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.accountInfoHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accountInfoHeader div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.accountImg {
    height: 150px;
    width: 150px;

    border-radius: 50%;
    overflow: hidden;
}

.accountImg img {
    width: 100%;
}

.accountName {
    font-size: 1.8rem;
}

.accountBtn {
    padding: 10px;
    font-size: 1rem;
    background-color: var(--accent-purple);
    color: var(--grey-text);

    border-radius: 5px;
    border: none;

    cursor: pointer;
}

.accountBtn:hover {
    color: white;
}

.accountInfoMain {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.accountInfoSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accountInfoSection div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.accountInfoSection p {
    font-size: 1.2rem;
    font-weight: 600;
}

.editBtn {
    padding: 10px;
    font-size: 1rem;

    border-radius: 5px;
    border: none;

    cursor: pointer;
}

.accountDivider {
    height: 1px;
    width: 100%;

    background-color: var(--accent-grey);
    flex-shrink: 0;
}

.accountActions {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.logOutBtn {
    align-self: flex-start;
}

.deleteAccountBtn {
    padding: 10px;
    font-size: 1rem;
    border-color: red;
    background: none;
    color: var(--grey-text);

    border-radius: 5px;
    align-self: flex-start;

    cursor: pointer;
}

.deleteAccountBtn:hover {
    background-color: red;
    color: white;
}

/* Modals */

.accountModal {
    padding: 30px;
    background-color: var(--background);
    box-shadow: 2px 2px 2px 2px black;
    min-width: 350px;
    border-radius: 10px;

    display: none;

    position: absolute;
    right: 30%;
    top: 40%;

    z-index: 10;

    pointer-events: none;
}

.accountModal.display {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    pointer-events: all;
}

.accountModalBtns {
    display: flex;
    align-items: center;
    gap: 20px;
}

.accountModal button {
    align-self: center;
    min-width: 100px;
}
