.account {
    flex: 1;
    padding: 20px;

    background-color: var(--background);
    color: var(--grey-text);

    display: flex;
    justify-content: center;
}

.accountMain {
    max-width: 800px;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.accountHeader {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accountLink {
    text-decoration: none;
    color: var(--grey-text);
}

.accountLink span {
    display: none;
}

.accountLink:hover {
    text-decoration: underline;
}

.accountBtn {
    padding: 5px 10px;
    font-size: 0.8rem;
    font-weight: 600;
    background-color: var(--accent-purple);
    color: var(--grey-text);

    border-radius: 5px;
    border: none;

    cursor: pointer;
}

.accountBtn span {
    display: none;
}

.accountBtn:hover {
    color: white;
}

.accountDivider {
    height: 1px;
    width: 100%;

    background-color: var(--accent-grey);
    flex-shrink: 0;
}

.accountActions {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.logOutBtn {
    align-self: flex-start;
}

.deleteAccountBtn {
    padding: 5px 10px;
    font-size: 0.8rem;
    border-color: red;
    background: none;
    color: var(--grey-text);

    border-radius: 5px;
    align-self: flex-start;

    cursor: pointer;
}

.deleteAccountBtn:hover {
    background-color: red;
    color: white;
}

/* Modals */

.accountModal {
    padding: 30px;
    background-color: var(--background);
    box-shadow: 2px 2px 2px 2px black;
    border-radius: 10px;
    text-align: center;

    display: none;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    z-index: 20;

    pointer-events: none;
}

.accountModal.display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    pointer-events: all;
}

.accountModalBtns {
    display: flex;
    align-items: center;
    gap: 20px;
}

.accountModal button {
    align-self: center;
    min-width: 100px;
}
@media (min-width: 320px) {
    .accountLink span {
        display: inline;
    }

    .accountBtn span {
        display: inline;
    }
}

@media (min-width: 420px) {
    .accountModal {
        margin: auto;

        max-width: 400px;
        max-height: fit-content;
    }

    .accountBtn,
    .deleteAccountBtn {
        padding: 10px;
    }
}

@media (min-width: 600px) {
    .accountHeader {
        font-size: 1rem;
    }

    .account {
        padding: 40px;
    }

    .accountBtn,
    .deleteAccountBtn {
        font-size: 1rem;
    }
}
