.channelsPage {
    flex: 1;
    display: flex;
}

.channelSidebarOuterContainer {
    color: white;
    background-color: var(--background);

    border-right: 1px solid var(--accent-grey);
    box-shadow: 2px 2px 2px 2px black;

    position: fixed;
    top: 0;
    bottom: 0;

    width: 0px;
    overflow: hidden;
    transition: width 0.5s ease-in-out;

    z-index: 3;
}

.channelSidebarOuterContainer.display {
    width: 80%;
}

.sidebarOverlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 2;

    pointer-events: none;
}

.sidebarOverlay.display {
    pointer-events: all;
}

.channelSection {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.channelMain {
    flex: 1;
    display: flex;
}

.vl {
    width: 1px;
    background-color: var(--accent-grey);
    flex-shrink: 0;
}

.hl {
    height: 1px;
    background-color: var(--accent-grey);
    flex-shrink: 0;
}

@media (min-width: 600px) {
    .channelSidebarOuterContainer {
        width: 40%;
        min-width: 200px;
        max-width: 350px;

        border-right: none;
        box-shadow: none;

        position: relative;
    }
}
