.accountInfo {
    padding: 20px;
    background-color: black;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.accountInfoHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.accountInfoHeaderMain {
    display: flex;
    align-items: center;
    gap: 20px;
}

.accountImg {
    flex-shrink: 0;
    height: 100px;
    width: 100px;

    border-radius: 50%;
    overflow: hidden;
}

.accountImg img {
    width: 100%;
}

.accountName {
    display: none;
    font-size: 1.8rem;
}

.accountInfoMain {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.accountInfoSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accountInfoSection div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.accountInfoSection p {
    font-size: 1.2rem;
    font-weight: 600;
}

/* Modal Styling */

.editProfileForm {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100%;
}

.editProfileFormElement {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.editProfileFormElement label {
    padding: 3px;
    align-self: flex-start;
}

.editProfileFormElement input,
.editProfileFormElement textarea {
    padding: 5px;
    font-size: 1rem;

    border: none;
    outline: none;
    border-radius: 5px;
    resize: none;
}

.editProfileFormElement input:disabled {
    cursor: not-allowed;
}

.editProfileErrorContainer {
    align-self: center;
}

.editProfileErrorList {
    font-size: 0.9rem;
    font-weight: 500;
    color: red;
}

@media (min-width: 600px) {
    .accountInfo {
        padding: 40px;
    }

    .accountImg {
        height: 150px;
        width: 150px;
    }

    .accountName {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        overflow: hidden;
        word-wrap: break-word;
    }
}
