/* Styling for AddFriend */

.addFriendDescription {
    font-size: 0.9rem;
}

.addFriendForm {
    padding: 5px;
    background-color: var(--background-alt);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.addFriend {
    flex: 1;
    padding: 5px;
    font-size: 0.9rem;

    color: white;
    background: none;
    border: none;
    outline: none;
}

.friendRequestBtn {
    font-size: 0.7rem;
    font-weight: 600;
    padding: 5px 7px;
    color: white;
    background-color: var(--accent-purple);
    border: none;
    border-radius: 10px;

    cursor: pointer;
}

/* Errors */

.friendRequestErrorContainer {
    padding: 0px 20px;
    align-self: flex-start;
}

.friendRequestErrorList {
    font-size: 0.9rem;
    font-weight: 500;
    color: red;
}

@media (min-width: 345px) {
    .addFriendForm {
        flex-direction: row;
    }
}

@media (min-width: 600px) {
    .addFriendDescription {
        font-size: 1rem;
    }
}

@media (min-width: 750px) {
    .addFriend {
        font-size: 1.2rem;
    }

    .friendRequestBtn {
        font-size: 0.9rem;
        padding: 8px;
    }
}
