.channelCard {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.channelCard:hover {
    background-color: var(--background-alt);
}

.channelCardInnerContainer {
    flex: 1;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.channelCardImg {
    flex-shrink: 0;
    height: 35px;
    width: 35px;

    border-radius: 50%;
    overflow: hidden;
}

.channelCardImg img {
    width: 100%;
}

.channelCardText {
    color: white;
    font-weight: 600;
    font-size: 0.9rem;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

    overflow: hidden;
    word-wrap: break-word;
}

.deleteChannelCardBtn {
    color: var(--accent-grey);
    font-size: 1.2rem;
    background: none;
    border: none;

    cursor: pointer;
}

.deleteChannelCardBtn:hover {
    color: white;
}

@media (hover: hover) {
    .deleteChannelCardBtn {
        display: none;
    }

    .deleteChannelCardBtn.display {
        display: block;
    }
}

@media (min-width: 400px) {
    .channelCardImg {
        height: 40px;
        width: 40px;
    }

    .channelCardText {
        font-size: 1.1rem;
    }
}
