.channelHeader {
    flex-shrink: 0;
    padding: 7px 20px;
    height: 50px;

    color: var(--grey-text);
    background-color: var(--background);

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    position: relative;
}

.channelHeaderInfo {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 100%;
}

.channelHeaderDivider {
    flex-shrink: 0;
    width: 1px;
    height: 100%;
    background-color: var(--accent-grey);

    display: none;
}

.channelHeaderUsers {
    display: none;
    flex-shrink: 0;

    overflow: hidden;
    position: relative;
}

.channelHeaderUser {
    display: flex;
    align-items: center;
    gap: 5px;
}

.channelHeaderUserImg {
    flex-shrink: 0;
    height: 30px;
    width: 30px;

    border-radius: 50%;
    overflow: hidden;
}

.channelHeaderUserImg img {
    width: 100%;
}

.channelHeaderActions {
    background-color: var(--background);
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;

    z-index: 3;
}

.channelHeaderBtn {
    padding: 5px;
    font-weight: 600;
    font-size: 0.7rem;

    background-color: var(--accent-purple);
    color: var(--grey-text);
    border: none;
    border-radius: 5px;

    height: fit-content;

    cursor: pointer;
}

.channelHeaderBtn:hover {
    color: white;
}

@media (min-width: 420px) {
    .channelHeaderUsers {
        display: flex;
        gap: 15px;
    }

    .channelHeaderDivider {
        display: block;
    }
}

@media (min-width: 600px) {
    .menuSpacer {
        width: 0px;
    }

    .channelHeaderActions {
        gap: 20px;
    }
}

@media (min-width: 680px) {
    .channelHeaderBtn {
        padding: 5px;
        font-size: 0.8rem;
    }
}

/* Styling for Loader */
.channelHeaderLoader {
    flex: 1;
    background-color: var(--background);
    display: flex;

    position: absolute;
    width: 100%;
    height: 100%;

    z-index: 2;
    pointer-events: none;
    overflow: hidden;
}

.channelHeaderLoaderCard {
    height: 30px;
    width: 90%;

    border-radius: 10px;
    background-color: var(--accent-grey);
    animation: skeleton-loading 1s ease-in-out infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 0.7;
    }
}

/* Styling for Channel Header modal */
.channelHeaderModal {
    padding: 20px;
    background-color: var(--background);
    box-shadow: 2px 2px 2px 2px black;

    display: none;

    position: absolute;
    right: 40px;
    top: 50px;

    z-index: 20;

    pointer-events: none;
}

.channelHeaderModal.display {
    display: flex;
    flex-direction: column;
    gap: 10px;
    pointer-events: all;
}

.channelHeaderForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.channelHeaderFormElement {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.channelHeaderForm label {
    font-size: 1rem;
}

.channelHeaderForm input {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: none;
    outline: none;
}

.channelHeaderModalDivider {
    height: 1px;
    width: 100%;
    background-color: var(--accent-grey);
}

.channelHeaderModal .addUserBtn,
.channelHeaderModal .addTitleBtn {
    padding: 5px;
    background-color: var(--accent-purple);
    color: var(--grey-text);
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;

    cursor: pointer;
}

.channelHeaderModal .addUserBtn:hover,
.channelHeaderModal .addTitleBtn:hover {
    color: white;
}

@media (min-width: 320px) {
    .channelHeaderForm label {
        font-size: 1.2rem;
    }

    .channelHeaderModal .addUserBtn,
    .channelHeaderModal .addTitleBtn {
        font-size: 1rem;
    }
}

@media (min-width: 600px) {
    .channelHeaderModal {
        min-width: 350px;
    }

    .channelHeaderForm label {
        font-size: 1.4rem;
    }

    .channelHeaderModal .addUserBtn,
    .channelHeaderModal .addTitleBtn {
        font-size: 1.2rem;
    }
}

/* Errors */

.channelHeaderErrorContainer {
    align-self: center;
}

.channelHeaderErrorList {
    font-size: 0.9rem;
    font-weight: 500;
    color: red;
}
