.channelSidebar {
    color: white;
    background-color: var(--background);
    width: 40%;
    min-width: 200px;
    max-width: 350px;

    display: flex;
    flex-direction: column;
}

.channelSidebarHeader {
    padding: 7px 20px;
    height: 50px;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.channelSidebarMain {
    flex: 1;
    padding: 10px;
    max-height: calc(100vh - 51px);

    display: flex;
    flex-direction: column;
}

.channelSidebarLink {
    text-decoration: none;
    padding: 10px;
    color: var(--grey-text);
    font-size: 1.6rem;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;
}

.channelSidebarLink:hover {
    background-color: var(--background-alt);
}

.channelCardContainer {
    flex: 1;

    overflow-y: auto;
}
