.channelSearchContainer {
    width: 100%;

    border-radius: 5px;

    display: flex;
    flex-direction: column;
}

.channelSearchForm {
    width: 100%;
    padding: 2px;
    background-color: white;
    border-radius: 5px;

    display: flex;
    gap: 3px;
}

.channelSearch {
    flex: 1;
    padding: 3px;
    width: 100%;

    border-radius: 5px;
    border: none;
    outline: none;

    position: relative;
    z-index: 20;
}

.channelSearchClear {
    padding: 1px 4px;
    font-size: 1rem;
    color: grey;

    background: none;
    border: none;
    cursor: pointer;
}
