.channelSidebar {
    color: white;
    background-color: var(--background);

    min-width: 300px;

    display: flex;
    flex-direction: column;
}

.channelSidebarHeader {
    padding: 7px 20px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.channelSearchForm {
    width: 100%;
}

.channelSearch {
    padding: 5px;
    width: 100%;

    border-radius: 5px;
    border: none;
}

.channelSidebarMain {
    padding: 10px;

    display: flex;
    flex-direction: column;
}

.channelSidebarLink {
    text-decoration: none;
    padding: 10px;
    color: var(--grey-text);
    font-size: 1.6rem;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;
}

.channelSidebarLink:hover {
    background-color: var(--background-alt);
}

/* Styling for Overlay*/
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 5;

    pointer-events: none;
}

.overlay.display {
    pointer-events: all;
}
