.directMessagesHeader {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
}

.directMessagesHeader p {
    font-size: 1.2rem;
    font-weight: 600;
}

.directMessagesHeaderBtn {
    color: white;
    font-size: 1.6rem;
    background: none;
    border: none;
    cursor: pointer;
}

/* Styling for new Channel modal */
.newChannelModal {
    padding: 30px;
    background-color: var(--background);
    box-shadow: 2px 2px 2px 2px black;
    min-width: 300px;

    display: none;

    position: absolute;
    right: -250px;
    top: 40px;

    z-index: 10;

    pointer-events: none;
}

.newChannelModal.display {
    display: flex;
    flex-direction: column;
    gap: 10px;
    pointer-events: all;
}

.newChannelHeader {
    font-size: 1.4rem;
}

.newChannelUsers {
    width: 100%;
    padding: 5px;
}

.newChannelModal .newChannelBtn {
    padding: 5px;
    background-color: var(--accent-purple);
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;

    cursor: pointer;
}
