.directMessagesHeader {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
}

.directMessagesHeader p {
    font-size: 1.2rem;
    font-weight: 600;
}

.directMessagesHeaderBtn {
    color: white;
    font-size: 1.6rem;
    background: none;
    border: none;
    cursor: pointer;
}

/* Styling for new Channel modal */
.newChannelModal {
    padding: 10px;
    background-color: var(--background);
    box-shadow: 2px 2px 2px 2px black;
    border-radius: 5px;

    display: none;

    position: absolute;
    top: 40px;
    left: 0px;
    right: 0px;

    z-index: 10;

    pointer-events: none;
}

.newChannelModal.display {
    display: flex;
    flex-direction: column;
    gap: 10px;
    pointer-events: all;
}

.newChannelForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.newChannelFormElement {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.newChannelForm label {
    font-size: 1.2rem;
}

.newChannelForm input {
    width: 100%;
    padding: 5px;
}

.userListInfo {
    font-size: 0.8rem;
}

.userList {
    display: flex;
    align-items: center;
    gap: 10px;

    max-width: 300px;
    flex-wrap: wrap;
}

.userListEntry {
    font-size: 1rem;
    padding: 3px 10px;
    border: 1px solid var(--accent-purple);
    border-radius: 5px;

    display: flex;
    align-items: center;
    gap: 10px;
}

.userListEntry button {
    background: none;
    border: none;
    color: inherit;

    cursor: pointer;
}

.newChannelModalDivider {
    height: 1px;
    width: 100%;
    background-color: var(--accent-grey);
}

.newChannelModal .newChannelBtn {
    padding: 5px;
    background-color: var(--accent-purple);
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;

    cursor: pointer;
}

@media (min-width: 600px) {
    .newChannelModal {
        padding: 30px;
        min-width: 350px;
        left: 100px;
    }

    .newChannelForm label {
        font-size: 1.2rem;
    }

    .userListEntry {
        font-size: 1rem;
    }
}

/* Errors */

.newChannelErrorContainer {
    align-self: center;
}

.newChannelErrorList {
    font-size: 0.9rem;
    font-weight: 500;
    color: red;
}
