.friendsSection {
    flex: 1;
    min-height: 100vh;

    color: var(--grey-text);
    background-color: var(--background);

    display: flex;
    flex-direction: column;
}

.friendsOuterContainer {
    flex: 1;
    padding: 20px;
}

.friendsContainer,
.friendInnerContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.friendsTitle {
    font-size: 1.6rem;
}

.friendsDivider {
    height: 1px;
    background-color: var(--accent-grey);
}

.friendCardContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
