.friendsSection {
    flex: 1;
    min-height: 100vh;

    color: var(--grey-text);
    background-color: var(--background);

    display: flex;
    flex-direction: column;
}

.friends {
    flex: 1;
    font-size: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
