.friendsHeader {
    flex-shrink: 0;
    padding: 5px 8px;
    height: 50px;

    color: var(--grey-text);
    background-color: var(--background);

    display: flex;
    align-items: center;
    gap: 10px;
}

.menuSpacer {
    flex-shrink: 0;
    width: 30px;
    transition: width 0.5s ease-in-out;
}

.friendsHeaderTitle {
    display: none;
}

.friendsHeaderDivider,
.menuSpacerDivider {
    flex-shrink: 0;
    width: 1px;
    height: 100%;
    background-color: var(--accent-grey);
}

.friendsHeaderDivider {
    display: none;
}

.friendsHeaderBtns {
    display: flex;
    align-items: center;
    gap: 10px;
}

.friendsHeaderBtn {
    padding: 2px 8px;
    font-size: 0.9rem;
    color: inherit;
    border-radius: 5px;
    background: none;
    border: none;

    cursor: pointer;
}

.friendsHeaderBtn.selected {
    background-color: var(--background-alt);
    color: white;
}

.friendsHeaderBtn:hover {
    background-color: var(--background-alt);
    color: white;
}

.addFriendBtn {
    background-color: rgb(36, 128, 70);
}

.addFriendBtn:hover {
    background-color: rgb(49, 172, 94);
    color: white;
}

@media (min-width: 600px) {
    .menuSpacer {
        width: 0px;
    }

    .friendsHeaderTitle {
        display: block;
        font-weight: 600;
    }

    .friendsHeaderDivider {
        display: block;
    }

    .menuSpacerDivider {
        display: none;
    }
}

@media (min-width: 750px) {
    .friendsHeader {
        padding: 7px 20px;
        gap: 20px;
    }

    .friendsHeaderTitle {
        font-size: 1.2rem;
    }

    .friendsHeaderBtns {
        gap: 20px;
    }

    .friendsHeaderBtn {
        padding: 4px 12px;
        font-size: 1.2rem;
        border-radius: 10px;
    }
}
