.friendCard {
    padding: 5px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.friendCard:hover,
.friendCard.hover {
    background-color: var(--background-alt);
}

.friendCardMain {
    display: flex;
    align-items: center;
    gap: 10px;
}

.friendCardImageContainer {
    flex-shrink: 0;
    height: 35px;
    width: 35px;

    border-radius: 50%;
    overflow: hidden;
}

.friendCardImageContainer img {
    width: 100%;
}

.friendName {
    font-size: 0.8rem;
}

.friendOnline {
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    gap: 5px;
}

.statusOnline {
    height: 10px;
    width: 10px;
    background-color: rgb(49, 172, 94);
    border-radius: 50%;
}

.statusOffline {
    height: 10px;
    width: 10px;
    background-color: var(--grey-text);
    opacity: 0.2;
    border-radius: 50%;
}

.friendCardActions {
    display: flex;
    gap: 8px;
    position: relative;
}

.friendCardBtn {
    padding: 3px;
    font-weight: 600;
    font-size: 0.7rem;
    color: var(--grey-text);
    background-color: var(--accent-purple);

    border: none;
    border-radius: 3px;

    cursor: pointer;
}

.friendCardBtn:hover {
    color: white;
}

/* Styling for friend card modal */
.friendCardModal {
    padding: 5px;
    background-color: black;
    box-shadow: 2px 2px 2px 2px black;
    border-radius: 5px;

    display: none;

    position: absolute;
    right: 45px;
    top: 0px;

    z-index: 20;

    pointer-events: none;
}

.friendCardModal.display {
    display: flex;
    flex-direction: column;
    gap: 5px;
    pointer-events: all;
}

.friendCardModalBtn {
    background: none;
    border: none;
    padding: 5px;
    font-weight: 600;
    color: var(--grey-text);
    background-color: var(--accent-purple);
    min-width: 100px;

    border-radius: 5px;

    cursor: pointer;
}

.deleteFriendBtn {
    background-color: red;
    color: white;
}

@media (hover: hover) {
    .friendCardModalBtn {
        background-color: inherit;
    }

    .friendCardModalBtn:hover {
        background-color: var(--accent-purple);
        color: white;
    }

    .deleteFriendBtn {
        background-color: inherit;
        color: red;
    }

    .deleteFriendBtn:hover {
        background-color: red;
        color: white;
    }
}

@media (min-width: 320px) {
    .friendName {
        font-size: 1rem;
    }

    .friendOnline {
        font-size: 0.8rem;
    }

    .friendCardBtn {
        font-size: 0.8rem;
    }
}

@media (min-width: 600px) {
    .friendCard {
        padding: 5px;
    }

    .friendCardMain {
        gap: 20px;
    }

    .friendCardImageContainer {
        height: 45px;
        width: 45px;
    }

    .friendName {
        font-size: 1.2rem;
    }

    .friendOnline {
        font-size: 1rem;
    }

    .friendCardActions {
        gap: 20px;
    }

    .friendCardBtn {
        padding: 5px;
        border-radius: 5px;
        font-size: 0.9rem;
    }
}
