.friendsSection {
    flex: 1;
    min-height: 100vh;
    max-height: 100vh;

    color: var(--grey-text);
    background-color: var(--background);

    display: flex;
    flex-direction: column;
}

.friendsOuterContainer {
    flex: 1;
    overflow-y: auto;

    position: relative;
}

.friendsContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.friendsInnerContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.friendsTitle {
    font-size: 1.2rem;
}

.friendsDivider {
    height: 1px;
    background-color: var(--accent-grey);
}

.friendCardContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Friend Search */

.friendSearchForm {
    padding: 2px;
    width: 100%;
    background-color: white;
    border-radius: 5px;

    display: flex;
    gap: 3px;
}

.friendSearch {
    flex: 1;
    width: 100%;
    padding: 3px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.friendSearchClear {
    padding: 1px 4px;
    font-size: 1rem;
    color: grey;

    background: none;
    border: none;
    cursor: pointer;
}

/* Styling for Loader */
.friendLoader {
    flex: 1;
    background-color: var(--background);

    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    position: absolute;
    width: 100%;
    height: 100%;

    z-index: 3;
    pointer-events: none;
}

.friendLoaderSearch {
    height: 20px;
    width: 100%;

    border-radius: 5px;
    background-color: var(--accent-grey);
    animation: skeleton-loading 1s ease-in-out infinite alternate;
}

.friendLoaderHeader {
    height: 30px;
    width: 25%;

    border-radius: 20px;
    background-color: var(--accent-grey);
    animation: skeleton-loading 1s ease-in-out infinite alternate;
}

.friendLoaderCard {
    height: 60px;
    width: 100%;

    border-radius: 20px;
    background-color: var(--accent-grey);
    animation: skeleton-loading 1s ease-in-out infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 0.7;
    }
}

@media (min-width: 600px) {
    .friendsTitle {
        font-size: 1.4rem;
    }
}
