.menuBtn {
    padding: 5px;
    width: 35px;
    height: 20px;

    position: fixed;
    top: 11px;
    left: 8px;

    display: flex;
    flex-direction: column;
    gap: 5px;

    background: none;
    border: none;

    z-index: 1;
    cursor: pointer;
}

.menuBtn:hover .menuLayer {
    background-color: white;
}

.menuLayer {
    flex-shrink: 0;
    height: 3px;
    width: 100%;

    background-color: var(--grey-text);
    border-radius: 2px;
}

@media (min-width: 600px) {
    .menuBtn {
        display: none;
    }
}
