.messagesSection {
    flex: 1;
    padding: 20px;
    color: white;
    background-color: var(--background);

    display: flex;
    flex-direction: column;
    gap: 15px;

    max-height: calc(100vh - 51px);
    overflow-y: auto;
}

.messagesContainer {
    padding: 10px;
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
}

.newMessageForm {
    padding: 3px;
    background-color: white;
    border-radius: 5px;

    display: flex;
    align-items: center;
}

.newMessageForm input {
    flex: 1;
    padding: 5px;
    font-size: 1rem;
    border: none;
    background: none;
}

.newMessageForm input:focus {
    outline: none;
}

.newMessageFormDivider {
    width: 1px;
    height: 100%;
    background-color: var(--accent-grey);
}

.newMessageForm button {
    padding: 5px 15px;
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer;
}

.newMessageError {
    font-size: 0.9rem;
    color: rgb(231, 195, 94);
}
