.messagesSection {
    flex: 1;
    color: white;
    background-color: var(--background);

    display: flex;
    flex-direction: column;
    gap: 15px;

    max-height: calc(100vh - 51px);
    overflow-y: auto;
}

.messagesContainer {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;

    position: relative;
}

.newMessageContainer {
    margin: 10px;
    padding: 2px;
    background-color: white;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
}

.newMessageInput {
    display: flex;
    gap: 5px;

    position: relative;
}

.uploadFileBtn {
    padding: 1px 3px;
    font-size: 1.4rem;
    align-self: flex-start;

    background: none;
    border: none;

    cursor: pointer;
}

.newMessageForm {
    padding: 2px 1px;
    flex: 1;
    border-radius: 5px;

    display: flex;
    align-items: center;
}

.newMessage {
    flex: 1;
    font-size: 0.9rem;
    border: none;
    background: none;
    outline: none;
    resize: none;
}

.newMessageFormDivider {
    flex-shrink: 0;
    width: 1px;
    height: 95%;
    background-color: var(--accent-grey);
}

.newMessageForm button {
    align-self: flex-start;
    padding: 3px 8px;
    font-size: 0.9rem;
    background: none;
    border: none;
    cursor: pointer;
}

.uploadFileModal {
    padding: 5px;
    background-color: black;
    border-radius: 5px;

    position: absolute;
    top: -60px;
    z-index: 20;

    display: none;
}

.uploadFileModal.display {
    display: block;
}

.uploadFileModalBtn {
    padding: 10px 20px;
    font-size: 1rem;
    color: var(--grey-text);

    background: none;
    border: none;
    border-radius: 5px;

    cursor: pointer;
}

.uploadFileModalBtn:hover {
    background-color: var(--accent-purple);
    color: white;
}

.newMessageError {
    padding: 10px;
    font-size: 0.9rem;
    color: rgb(231, 195, 94);
}

/* Messages Divider */
.messagesDivider {
    padding: 0px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.messagesDividerLine {
    flex: 1;
    height: 1px;
    width: 100%;
    background-color: var(--accent-grey);
}

.messagesDividerDate {
    font-size: 0.7rem;
    font-weight: 600;
    color: var(--grey-text);
}

@media (min-width: 600px) {
    .newMessageForm input {
        padding: 5px;
        font-size: 1rem;
    }

    .newMessageForm button {
        padding: 5px 15px;
        font-size: 1rem;
    }

    .messagesDividerDate {
        font-size: 0.8rem;
    }
}
