.userSidebar {
    display: none;
    color: var(--grey-text);
    background-color: var(--background);

    min-width: 250px;
    max-width: 350px;

    max-height: calc(100vh - 51px);
    overflow-y: auto;

    position: relative;
}

.userCard {
    margin: 20px;
    padding: 20px;
    background-color: black;

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.userCardMain {
    display: flex;
    align-items: center;
    gap: 15px;
}

.userCardImg {
    height: 50px;
    width: 50px;

    border-radius: 50%;
    overflow: hidden;
}

.userCardImg img {
    width: 100%;
}

.userCardName {
    font-size: 1.4rem;
}

.userCardDivider {
    height: 1px;
    width: 100%;
    background-color: var(--accent-grey);
}

.userCardSupp {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Styling for Loader */
.userLoader {
    flex: 1;
    background-color: var(--background);
    display: flex;
    flex-direction: column;

    position: absolute;
    width: 100%;
    height: 100%;

    z-index: 3;
    pointer-events: none;
}

.userLoaderCard {
    margin: 20px;
    height: 200px;
    width: calc(100% - 40px);

    border-radius: 20px;
    background-color: var(--accent-grey);
    animation: skeleton-loading 1s ease-in-out infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 0.7;
    }
}

@media (min-width: 1000px) {
    .userSidebar {
        display: flex;
        flex-direction: column;
    }
}
